.DS_Store
/node_modules/
*.tsbuildinfo

# React Router
/.react-router/
/build/
/logs/*

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

*.pid
